# Le fichier .gitignore permet d'indicquer à git les fichiers à ne pas prendre en compte
# là par exemple sur mon projet j'ai un dossier "z" dans lequel je fous du bordel sans le pusher sur github, let le dosser "venv" (environnement virtuel python, je t'expliquerais plus tard):
z/
venv/

# ne pas prendre en compte les fichiers commençant par key
key*

